.customButtonContainer {
  display: flex;
  justify-content: flex-start;
}

.signInContainer {
  width: 48%;
  margin: 1% 0 1% 0;
}

@media screen and (max-width: 800px) {
  .signInContainer {
    width: 100%;
    margin: 1% 0 1% 0;
  }
}
