.collectionNamAndButton {
  display: flex;
  justify-content: space-between;
}

.cardWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 1% 0 1%;
}

.collectionNamAndButton > h5 {
  cursor: pointer;
  font-family: "Amatic SC", cursive;
  border-bottom: 2px yellow solid;
  animation: scaleText 1s cubic-bezier(0.1, 0.65, 0.52, 0.99);
  margin-left: 4%;
}

@keyframes scaleText {
  0% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
