.productPriceAndName {
  display: flex;
  justify-content: space-between;
}

.cardContainer {
  width: 20%;
}

.imageContainer {
  background-position: center;
  background-size: cover;
  height: 20rem;
  display: flex;
}
