.productPriceAndName {
  display: flex;
  justify-content: space-between;
}

.cardContainer {
  width: 20%;
}

.imageContainer {
  background-position: center;
  background-size: cover;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer:hover {
  opacity: 0.8;
}

.addToCartBtn {
  display: none !important;
}

.imageContainer:hover .addToCartBtn {
  display: flex !important;
  background: rgba(255, 255, 255, 0.932);
  color: black;
}

@media screen and (max-width: 800px) {
  .cardContainer {
    min-width: 42%;
    flex: 1 1 0;
    margin: 4%;
  }
  .imageContainer {
    background-position: center;
    background-size: cover;
    height: 20rem;
    display: flex;
  }
}

@media screen and (max-width: 368px) {
  .cardContainer {
    min-width: 92%;
    flex: 1 1 0;
    margin: 4%;
  }
  .imageContainer {
    background-position: center;
    background-size: cover;
    height: 20rem;
    display: flex;
  }
}
