.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5% 1% 0.5% 0;
  background-color: #9dada3;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  display: flex;
  justify-content: space-evenly;
}

.webLogo {
  background: url(https://i.ibb.co/rm2X8QP/owl.png) no-repeat center;
  background-size: 90%;
  width: 100px;
}

.navigationOption {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

.userName {
  font-family: "Paytone One", cursive;
  color: white;
  font-weight: bolder;
}

.navigationOptionColor {
  font-family: "Paytone One", cursive;
  text-decoration: none !important;
  color: #083232;
  font-weight: bolder;
  padding-top: 15px !important;
}

.navigationOptionColor:hover {
  color: white;
}

.userLogin {
  background: url(https://i.ibb.co/wB25mYW/icons8-circled-user-64.png) no-repeat
    center;
}

.userLogout {
  background: url(https://i.ibb.co/yYV53YH/logout.png) no-repeat center;
}

.iconSize {
  background-size: 60%;
  width: 50px;
}

li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}
