.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5% 1% 1% 0;
  background-color: #9dada3;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  display: flex;
  justify-content: space-evenly;
}

.webLogo {
  background: url(https://i.ibb.co/rm2X8QP/owl.png) no-repeat center;
  background-size: 90%;
  width: 100px;
  text-indent: -100000px;
}

.navigationOption {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

.userName {
  font-family: "Paytone One", cursive;
  color: white;
  font-weight: 1000;
}

.shopLink > a,
.homeLink > a {
  font-family: "Paytone One", cursive;
  text-decoration: none !important;
  color: #083232;
  font-weight: bolder;
}

.shopLink,
.homeLink {
  padding-top: 15px !important;
}

.shopLink > a:hover,
.homeLink > a:hover {
  color: white;
}

.userLogin {
  text-indent: -10000px;
  background: url(https://i.ibb.co/wB25mYW/icons8-circled-user-64.png) no-repeat
    center;
  background-size: 90%;
  width: 40px;
}

.userLogout {
  text-indent: -10000px;
  background: url(https://i.ibb.co/yYV53YH/logout.png) no-repeat center;
  background-size: 60%;
  width: 50px;
}

.userCart {
  text-indent: -10000px;
  background: url(https://i.ibb.co/9qHtgy8/icons8-shopping-bag-50.png) no-repeat
    center;
  background-size: 60%;
  width: 50px;
}

li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}
