.cartDropDownWrapper {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  top: 90%;
  right: 15px;
  z-index: 5;
  border-radius: 5px;
  background: rgba(129, 125, 125, 0.932);
}

.cartItemsWrapper {
  height: 270px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.noCartItems {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.noCartItems > img {
  width: 50%;
}
.customP {
  color: #ffe5b4;
  text-align: center;
  font-weight: lighter;
}
