.checkoutContainer {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.checkoutHeader {
  width: 60%;
  display: flex;
  padding: 1% 0 1% 0;
  background-color: #05192d;
}

.checkoutHeader span {
  width: 20%;
  text-align: center;
  color: white;
}

.cartItemListWrapper {
  display: flex;
  width: 60%;
  align-items: center;
}
.checkoutHeader span:nth-child(3)::after {
  content: "Quantity";
}

.checkoutHeader span:nth-child(2)::after {
  content: "Description";
}

.productImg {
  width: 16%;
  padding: 2%;
  margin: 2%;
}

.productImg > img {
  width: 100%;
}

.customSpace {
  width: 20%;
  text-align: center;
}

.EmptyCartWrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.emptyCartMsg {
  color: black;
  font-weight: lighter;
}

.increaseFont {
  font-weight: bolder;
  font-size: x-large;
  cursor: pointer;
}

.totalAmt {
  font-size: x-large;
  font-weight: lighter;
}

.amtAndCard {
  margin-top: 10px;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .checkoutHeader {
    width: 95%;
    display: flex;
  }
}

@media screen and (max-width: 368px) {
  .checkoutHeader span:nth-child(3)::after {
    content: "Qty";
  }
  .checkoutHeader span:nth-child(2)::after {
    content: "Desc";
  }
  .amtAndCard {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
