.EmptyCartWrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.emptyCartMsg {
  color: black;
  font-weight: lighter;
}

.increaseFont {
  font-weight: bolder;
  font-size: x-large;
  cursor: pointer;
}
