.googleSignIn {
  border-radius: 0;
  margin-left: 2%;
  background-color: #083232 !important;
  color: white !important;
}

.signIn {
  border-radius: 0;
  background-color: #9dada3 !important;
  color: black !important;
}
.signUp {
  background-color: #083232 !important;
  color: white !important;
}

.viewAllBtn {
  background-color: #083232 !important;
  color: White !important;
}

.btnCheckOut {
  margin-top: auto;
  opacity: 0.9;
  background-color: #05192d !important;
  color: white !important;
}
