.bannerWrapper {
  display: flex;
  min-width: 29%;
  background-position: center;
  background-size: cover;
  height: 20rem;
  flex: 1 1 0;
  margin: 2%;
  align-items: center;
  justify-content: center;
}

.bannerButton {
  min-width: 50%;
  background-color: black;
  opacity: 0.8;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: wheat;
  border-radius: 5px;
  cursor: pointer;
}

.bannerButton:hover {
  background-color: black;
  opacity: 1;
}

@media screen and (max-width: 700px) {
  .bannerWrapper {
    min-width: 46%;
  }
}

@media screen and (max-width: 370px) {
  .bannerWrapper {
    min-width: 96%;
  }
}
