.cartItemListWrapper {
  display: flex;
  width: 60%;
  align-items: center;
}

.productImg {
  width: 16%;
  padding: 2%;
  margin: 2%;
}

.productImg > img {
  width: 100%;
}

.customSpace {
  width: 20%;
  text-align: center;
}

.quantityFont {
  padding: 0 3px 0 3px;
}

@media screen and (max-width: 768px) {
  .cartItemListWrapper {
    display: flex;
    width: 95%;
    align-items: center;
  }
}
